.upcomingDown {
  background-color: #202020;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 20px;

  .upcomingDownWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .upcomingTitles {
      display: flex;
      width: 54%;
      justify-content: space-between;
      .upcomingTitle {
        color: white;
        font-size: 21px;
      }
      .requestMovie {
        color: rgb(168, 168, 168);
        cursor: pointer;
        display: none;
      }
    }

    .cardWrapper {
      margin-left: 3em;
      width: 65%;
      margin-top: 2em;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  }
}
@media only screen and (max-width: 768px) {
  .upcomingDown {
    margin-top: 5em;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .upcomingDownWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 100%;
      min-height: 100%;

      .upcomingTitles {
        width: 100%;
        border-bottom: 1px solid rgb(77, 76, 76);

        .upcomingTitle {
          font-size: 16px;
          margin-bottom: 1em;
          margin-left: 1em;
        }
      }
      .cardWrapper {
        width: 100%;
        display: flex;
        min-height: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px 20px;
        margin-left: 0;
      }
    }
  }
}
